POSTGRES_USER=

POSTGRES_PASSWORD=

POSTGRES_DB=

JWT_SECRET=

HTTP_SHUTDOWN_TIMEOUT=

POSTGRES_TIMEOUT=

LOGGER_LEVEL=

KAFKA_ADDRESS=

KAFKA_PRODUCER_ORDERS_TOPIK=

KAFKA_NUM_PARTITIONS=

KAFKA_CREATE_TIME=

KAFKA_MAX_ATTEMPTS=

KAFKA_WRITE_TIMEOUT=

KAFKA_READ_TIMEOUT=