POSTGRES_USER=

POSTGRES_PASSWORD=

POSTGRES_DB=

REDIS_PASSWORD=

REDIS_TIMEOUT=

JWT_SECRET=

HTTP_SHUTDOWN_TIMEOUT=

POSTGRES_TIMEOUT=

LOGGER_LEVEL=

KAFKA_ADDRESS=

KAFKA_PRODUCER_ORDERS_TOPIK=

KAFKA_NUM_PARTITIONS=

KAFKA_CREATE_TIME=

KAFKA_MAX_ATTEMPTS=

KAFKA_WRITE_TIMEOUT=

KAFKA_READ_TIMEOUT=

KAFKA_PRODUCER_ORDERS_DISPETCHED_TOPIC=

KAFKA_PRODUCER_DISPETCH_TOPIC=

CONFIRM_TOPIC=

KAFKA_DISPETCH_CONSUMER_CONFIRM_GROUP_ID=

KAFKA_DISPETCH_CONSUMER_ORDERS_GROUP_ID=

KAFKA_COURIERS_CONSUMER_ORDERS_GROUP_ID=

KAFKA_COMMIT_INTERVAL=